/* googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,700&display=swap');
/* font-family: 'Roboto', sans-serif; */

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000000c0;
}

.dark {
    color:#fff;
    background-color: #000000c0;
}

#dark {
    min-height: 1.3rem;
    max-height: 2rem;
    border: none;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
    background-color: transparent;
}

#dark img {
    max-width: 1.5rem;
    height: 1.5rem;
}

.container {
    max-width: 60vw;
    margin: 0 auto;
}

.blue {
    color: rgb(17,119,189);
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 2.5rem;
}

.head img {
    object-fit: cover;
}

h1 {
    font-size: 2.5rem;
}

td p {
    font-size: 1.4rem;
}

hr {
    border-style: dotted;
    border-width: 0.6rem 0 0;
    width: 10%;
    margin: 2.5rem auto;
    border-color: rgb(17,119,189);
}

h3 {
    font-size: 1.7rem;
    margin: 2.5rem 0 1.5rem 0;
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.des-empresa {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 1rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 3rem 0;
}

ul li {
    width: 20%;
    /* min-height: 8rem; */
    padding: 2.5rem;
    border-radius: 5rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    background-color: rgb(17,119,189);
    color: #fff;
    border-bottom: 5px solid rgb(14, 97, 152);
}

.contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.icon {
    max-width: 1.5rem; 
    position: relative;
    top: 0.25rem; 
    margin-right: 0.5rem;
}



a {
    color: rgb(17,119,189);
    cursor: pointer;
    text-decoration: none;
    margin-left: 0.5rem;
}

a:hover {
    color: rgb(12, 91, 143);
    text-decoration: underline;
}

/*media query*/
@media (max-width:768px)  {

    * {
        padding: 0;
        margin: 0;
    }

    .container, body, html {
        min-width: 85vw;
        margin: 0 auto;
    }

    .head {
        width: 85vw;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .head .pictureProfile {
        max-width: 9rem;
        margin: 0 auto;
    }

    .head-title h1 {
        display: inline-block;
        font-size: 2rem;
    }

    #dark img {
        float: right;
    }

    hr {
        width: 50%;
    }

    .des-empresa {
        flex-direction: column;
    }

    h4 {
        font-size: 1.2rem
    }

    .logo {
        margin-top: 2rem;
    }

    ul li {
        min-width: 10rem;
    }

    .contacto span {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;        
    }
  }